* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #31364e;
    flex-wrap: wrap;
}

main {
    width: 60rem;
padding: 20px;
    min-width: auto;
    color: white;
}

.one {
    min-height: 8rem;
    padding: 10px;
    max-height: fit-content;
    display: flex;
    align-items: center;
    background: rgb(139, 177, 238);
    background: linear-gradient(90deg, rgba(139, 177, 238, 0) 5%, rgba(139, 177, 238, 0.4010854341736695) 16%, rgba(40, 86, 162, 1) 30%, rgba(45, 87, 153, 0.9697128851540616) 64%, rgba(139, 177, 238, 0.39548319327731096) 77%, rgba(139, 177, 238, 0) 95%);
}
h1{
    font-weight: 400;
}

.two {
    min-height: 8rem;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.three {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: max-content;
    min-height: fit-content;
    gap: 1rem;
}

.left {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 10px;
    gap: 1rem;
}

.bar {
    background: linear-gradient(-60deg, rgba(226, 244, 255, 0.3) 5%, rgba(84, 107, 115, 0.3) 95%);
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.barleft {
    width: 50%;
}

.baright {
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: end;
}

.box {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 2px;
    background-color: black;
    padding: 2px;

}

.box p {
    color: white;
    padding: 0px 10px;
}

.box button {
    background-color: green;
    color: white;
    outline: none;
    border: 1px solid black;
    padding: 5px 15px;
}

.top {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.bottom p {
    height: fit-content;
    padding: 4px;
    padding-left: 8px;
    background-color: #010c42;
    font-size: 12px;

}
.top p{
    font-size: 1.5rem;
}
.top span{
    font-size: 12px;
}

.right {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
@media screen and (max-width:768px) {
    .three{
        flex-direction: column-reverse;
        width: fit-content;
    }
    .left{
        width: 100% !important;
    }
    .bar{
        height: fit-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .barleft, .baright{
        width: fit-content;
    }
    main{
        width: 30rem;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }
}