*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.container {
    margin: 0.5rem 0.3rem;
    width: 280px;
    color: #fefefe;
    background-color: rgb(149, 148, 148);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px rgb(46, 46, 46);
  }
  
  .title {
    font-size: 15px;
    font-weight: bold;
    padding: 8px;
  }
  
  .textbox {
    width: 100%;
    font-size: 12px;
    margin: 0;
    padding: 0px 2px;
  }
  
  .textbox:focus {
    outline: 0;
    border-color: #66afe9;
  }
  
  .bookmarks {
    margin: 5px 5px;
    padding: 3px;
  }
  
  .bookmark {
    display: flex;
    border-bottom-color: #00254d;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-radius: 0.8rem;
    border: 1px solid red;
    padding: 3px;
    padding-bottom: 7px;
    margin-bottom: 7px;
  }
  
  .bookmark-title {
    padding-left: 2px;
  }
  
  .bookmark-controls img {
    margin: 0 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
  }
  .bookmark-controls {
    background-color: transparent;
    flex: auto;
    text-align: right;
  }
  