*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
section{
    display: flex;
    justify-content: space-between;
}
.commonbox{
    display: flex;
    flex-direction: column;
    max-height: 305px;
    max-width: 386px;
    padding-bottom: 15px;
}
.box{
padding: 30px;
width: 50%;
}
#outputbox{
    display: flex;
    flex-direction: column;
    width: calc(100% - 50%);
    padding:30px;
    position: sticky;
    top:0;
    height: 100vh;
}
#output{
height:100%;
background-color: white;
display: block;
overflow: auto;
padding: 10px;
}
#output::-webkit-scrollbar {
    display: none;
  }
label{
    background-color: #4d4d4d;
    padding: 10px;
    display: flex;
    gap: 10px;
}
#csscode,#htmlcode,#jscode{
    height: 305px;
   
    display: block;
    overflow: auto;
    padding: 10px;


}
#csscode::-webkit-scrollbar {
  display: none;
}
#htmlcode::-webkit-scrollbar {
    display: none;
  }
  #jscode::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width:425px) {
    section{
        display: block;
    }
    #outputbox{
      width: 100% ;
    }
    .box{
        width: 100% ;
    }
  }